div.introduction {
  background: url("https://wrpes1.files.wordpress.com/2021/09/img-20210908-wa0012.jpg");
  padding: 1%;
  background-color: #ffffff;
  border: 5px solid;
  border-image: linear-gradient(#ff512f,
            #dd2476,
            #1c64fF)1;
  animation: rotate 2.5s ease-in infinite;
  padding-bottom:15px;
  clip-path:
    polygon(
      0% 0%,
      100% 0%,
      100% ca1c(100% - 15px),
      0% 100%
    )
}

@keyframes rotate {
    50% {
        border-image:
            linear-gradient(360deg,
                #ff512f,
                #dd2476,
                #1c64ff)1;
    }
}

::-webkit-scrollbar {
  width:10px;
}


::-webkit-scrollbar-thumb {
  border-radius:50px;
  transition:  0.5s;
}

::-webkit-scrollbar-thumb:hover {
  background:#cccccc;
}

* {
margin: 0;
padding: 0;
}

p.introduction {
  text-align: center;
  font-family: Lucida Handwriting, Cursive ;
  font-size: 25px;
}

a.study {
  list-style-type: none;
  color: black;
  background: #f699b4;
  margin: 7%;
  border-radius: 25px;
  transition: 0.2s;
  font-size: 20px;
  padding: 5%;
}

a:hover:not(.active).study {
  background-color: #e993ac;
  border: none;
}

div.content {
  bottom: 0;
  margin: 50px 35%;
}