div.class {
    float: left;
    padding: 0;
    margin: 0;
    overflow: auto;
    background-color: rgb(124, 122, 122);
    height: 90vh;
    resize: both;
    position: fixed;
}

li.class {
    list-style-type: none;
    border-style: none;
    color: rgb(218, 218, 218);
}

li.class a:hover:not(.clas) {
    background-color: rgb(87, 154, 231);
}

li a.clas {
    background-color: #5dfae0;
    color: rgb(0, 0, 0);
}

div.tex {
    text-align: center;
    font-family: Lucida Handwriting, Cursive ;
    font-size: 25px;
}

h1.introduction {
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: Lucida Handwriting, Cursive;
    margin: 0;
}

p.introduction {
    text-align: center;
}

li.content {
    background :url('https://wrpes1.files.wordpress.com/2021/09/img-20210908-wa0012.jpg');
    list-style-type: none;
    margin: 0 auto;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 25px;
}

a.content {
    color: rgb(0, 0, 0);
}

a.content:hover:not(.c) {
    background-color: rgb(245, 164, 188);
}

a.dropdown:hover:not(.c) {
    background-color: rgb(237 190 204);
}

div.dropdown-content {
    display: none;
    z-index: 1;
}

li.content:hover .dropdown-content {
    display: block;
    background :url('https://wrpes1.files.wordpress.com/2021/09/img-20210908-wa0012.jpg')

}

a.dropdown {
    color: black;
}