footer {
  text-align: center;
  background: rgb(209, 209, 209);
  padding: 1% 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.title {
  color: #000;
  text-align: center;
}
  
li.study {
  text-align: center;
  list-style-type: none;    
  background-color: rgb(132, 253, 150);
  border: antiquewhite;
  border-style: solid;
  border-radius: 100px;
  transition: all 1s;
}

li.stud {
  display: none;
}

body {
  background-color: antiquewhite;
  margin:0;
  margin-left: 2%;
  margin-right: 2%;
  min-height: 1000px;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: black;
}

li.style a:hover:not(.title) {
  background-color: rgb(136, 245, 63);
  border-radius: 100px;
}

div.content {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-gap: 5rem;
  margin-top: 5%;
  bottom: 0;
}
  
@media (min-width:600px){
  div.content {
    grid-template-columns:repeat(2,1fr);        
  }
}
@media (min-width:900px){
  div.content {
    grid-template-columns:repeat(3,1fr);
  }
}

@media screen and (max-width: 600px) {
  body {
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media screen and (max-width: 900px) {
  body {
    margin-left: 10%;
    margin-right: 10%;
  }
  div.content {
    grid-gap: 1rem;
  }
}

li.title {
  color: #000;
  text-align: center;
  text-decoration: none;
  list-style-type: none;
  border: antiquewhite;
  border-style: solid;
  transition: all 1s;
}

a.title {
  background: rgb(132, 253, 150);
  transition: all 1s;
}

div.a {
  display: none;
}

p {
  z-index: 1;
  width: 300px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  position: absolute;
  background: rgb(132, 253, 150);
  margin-top: auto;
  margin-left: -12.5px;
}

li:hover div.a {
  display: block;
  background: rgb(132, 253, 150);
}