div.class {
    float: left;
    padding: 0;
    margin: 0;
    overflow: auto;
    background-color: rgb(124, 122, 122);
    height: 90vh;
}

li.class {
    list-style-type: none;
    border-style: none;
    color: rgb(218, 218, 218);
}

li.class a:hover:not(.clas) {
    background-color: rgb(87, 154, 231);
}

li a.clas {
    background-color: #8d98f8;
    color: rgb(0, 0, 0);
}

div.tex {
    text-align: center;
}

h1.introduction {
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: Lucida Handwriting, Cursive;
    margin: 0;
}

p.introduction {
    text-align: center;
}

